.postBlock {
    padding-left: 15px;
}

.postBlock h3 {
    margin: 0;
}

.posts {
    margin: 15px 0 15px 0;
}

.button {
    width: 100px;
    height: 30px;
    background-color: #ff4b4c;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.postBlock textarea {
    width: 500px;
    line-height: 50px;
    font-size: x-large;
    margin: 5px 0 0 0;
}
