.postBlock {
    padding: 10px;
}
.posts {
    margin: 15px 0px 15px 0px;
}

.button {
    width: 100px;
    height: 30px;
    background-color: #ff4b4c;
    margin: 10px 0 10px 10px;
}

textarea {
    width: 500px;
    line-height: 50px;
    font-size: x-large;
    padding: 5px;

}
