
.friendsItem {
    width: 600px;
    height: 100px;
    background: white;
    margin: 20px auto;
    border-radius: 10px;
}
.generalBlock{
    display: grid;
    grid-template-columns: 70px 15fr 4fr;
}

.generalBlock .avatar {
    position: relative;
    left: -50px;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid white;
}

.info {
    padding-top: 15px;
}

.name {
    margin-bottom: 10px;
    color: #ff4b4c;
    font-size: x-large;
}

.buttonFollow {
    display: inline-block;
    position: relative;
    bottom: -5px;

    width: 100px;
    height: 30px;
    background-color: #ff4b4c;
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
    cursor: pointer;
}
.location {
    padding-top: 10px;
}