.contentInfo {
    display: grid;
    grid-template-columns: 2fr 15fr;
    grid-gap: 5px;
    padding: 15px;
}

.mainAvatar img {
    height: 240px;
}

.cover img {
    width: 1000px;
    height: 350px;
}

.describeProfile {
    padding-left: 20px;
    color: #0e2d41;
    vertical-align: baseline;
    letter-spacing: normal;
}

.describeProfile h4 {
    font-family: Poppins, sans-serif;
    font-size: 17px;
    line-height: 15px;
    margin: 0;
    padding: 0;
}
.describeProfile hr {
    background-color: grey;
    height: 1px;
    border: 0;
}
.basicBlock {
    display: flex;
    flex-direction: row;
    font-family: Poppins, sans-serif;
}
.basicItem.order{
    font-family: Poppins, sans-serif;
    font-weight: bold;
    margin-right: 15px;
    color: #0e2d41;
}
.basicItem{
    font-family: Montserrat, sans-serif;
    color: #3f414d;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
}