.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    grid-template-areas:"h h"
                        "n c";
    width: 1200px;
    margin: 0 auto;
}

.content {
    grid-area: c;
    background-color: bisque;
}






